.App {
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	max-height: 100vh;
}

.app-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* background-color: rgb(48, 48, 48); */
	height: 93vh;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.news-container {
	width: 30%;
	margin-right: 2%;
	max-height: 85vh;
	overflow: scroll;
	background-color: red;
	border-radius: 10px;
}
