.App {
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	max-height: 100vh;
}

.app-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgb(48, 48, 48);
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.news-title {
	color: white;
	text-align: center;
}

.news-container {
	width: 30%;
	max-height: 100vh;
	background-color: rgb(175, 171, 171);
	overflow: scroll;
}
