.App {
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	max-height: 100vh;
	background-size: 2000px 1000px;
	z-index: -10;
}

.app-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* background-color: rgb(48, 48, 48); */
	height: 93vh;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.news-title {
	color: black;
	text-align: center;
}

.news-container {
	width: 30%;
	height: 100%;
	margin-right: 2%;
	max-height: 85vh;
	overflow: scroll;
	border-radius: 10px;
	background-color: rgb(253, 249, 249);
}

.country-card {
	width: 30%;
	margin-left: 2%;
	max-height: 85vh;
	background-color: red;
	border-radius: 10px;
}
