.articles-container {
	width: 100%;
	background-color: rgb(230, 230, 230);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.news-title {
	color: black;
	text-align: center;
}

.article {
	margin: 1em;
}

.article:hover {
	cursor: pointer;
}

.image {
	width: 250px;
	border-radius: 10px;
}

.article-link {
	text-decoration: none;
}

.article-title {
	color: black;
}
