.country-name-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 5%;
}

.flag-img {
	margin-right: 10%;
	height: 50%;
	border-radius: 10px;
}
