.map-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	max-height: 100vh;
	z-index: 0;
}

.circle {
	/* background-color: rgb(240, 0, 240); */
}

.map-container:hover {
	cursor: pointer;
}

.geography {
	/* background-color: yellow; */
}
